.emojis {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 30px;
    cursor: pointer;
}

.emojis__vote-block{
    display: flex;
    gap: 20px;
    align-items: center;
}

button{
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
    border: 1px solid black;
}

button:hover{
    background-color: #e0e0e0;
}