#slider-container {
    position: relative;
    width: 500px;
    height: 300px;
    overflow: hidden;
}
#slider-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.slide {
    width: 500px;
    height: 300px;
    flex-shrink: 0;
}
button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
}
#prevButton {
    left: 10px;
}
#nextButton {
    right: 10px;
}